.App {
  padding: 8px 16px 16px 16px;
}

.row {
  display: grid;
  grid-template-columns: 24px 1fr 18px;
  align-items: center;
  height: 30px;
}

.full-width {
  width: 100%;
  justify-content: center;
}

.push {
  width: 100%;
  height: 38px;
}

.color-only {
  font-size: 11px;
  margin-left: 8px;
}

.fixed-bottom {
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px;
  background: white;
  border-top: 1px solid #e1e1e1;
}

.swatch {
  padding: 2px;
  background: #fff;
  border-radius: 1px;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1);
  display: inline-block;
  cursor: pointer;
  margin-left: 2px;
  position: relative;
}

.swatch > div {
  width: 12px;
  height: 12px;
  border-radius: 2px;
  position: relative;
}

.picker {
  position: absolute;
  right: 20px;
  top: 0;
}