.App {
  padding: 16px;
}

.row {
  display: grid;
  grid-template-columns: 24px 1fr;
  align-items: center;
  height: 30px;
}

.full-width {
  width: 100%;
  justify-content: center;
}

.push {
  width: 100%;
  height: 38px;
}

.fixed-bottom {
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px;
  background: white;
  border-top: 1px solid #e1e1e1;
}